:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --heading-font-family: "Playfair Display", setif;
  --defoult-font-family: "Poppins", serif;
}

body {
  font-family: var(--defoult-font-family);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  margin: 30px auto;
}

h2 {
  font-size: 64px;
}

p {
  line-height: 30px;
  color: #272142b2;
  font-size: 16px;
  padding: 30px 0px;
}
.logo {
  max-height: 40px;
}

nav {
  padding: 20px;
}

nav a {
  text-decoration: none;
  color: rgba(39, 33, 66, 0.7);
  transition: ease-in-out;
}

nav a:hover,
nav li.active a {
  color: rgba(39, 33, 66, 0.7);
  color: var(--secondary-color);
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 15px;
}

.project-description {
  padding: 120px 60px;
}

.btn-details,
.btn-details:hover {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  padding: 18px 25px;
}

.hero {
  text-align: center;
  background-color: var(--primary-color);
  padding: 150px 20px;
}

.hero p {
  font-size: 36px;
  color: #272142;
}

.hero h2 {
  font-family: var(--defoult-font-family);
  font-size: 24px;
  font-weight: 400;
  color: #272142;
}

.btn-branding,
.btn-branding:hover {
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 18px 46px;
}

.content-container {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-weight: 700;
  color: #272142;
}

.content img {
  border-radius: 10px;
}

.content {
  padding: 150px 20px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--defoult-font-family);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 60px 10px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
  }
}
